/* STYLE START */
/* STYLE START */
/* STYLE START */

/* ROOT */
:root {
	--font-family: 'Open Sans', sans-serif ;
}


/* CSS RESET */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	scroll-behavior: smooth;
}

/* CREATOR SECTION START */
.creator-section {
	width: 100%;
	min-height: 100vh;
	background-color: black;
}

.creator-container {
	min-height: 100vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 2.5rem;
	padding: 2rem 0;
}

.creator-details {
	color: white;
}

.creator-name {
	font-size: 5rem;
	font-weight: 500;
	margin-bottom: 0.25em;
}

.creator-work {
	font-size: 1.8rem;
	font-weight: 400;
	color: gray;
}
/* CREATOR SECTION END */



/* ABOUT ME SECTION START */
.about-me-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 2.5rem;
	padding: 10rem 0px;
}

.about-me-button {
	margin-top: 3rem;
}
/* ABOUT ME SECTION END */



/* TOOLS START */
.tools-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 2.5rem;
}

.tools-list-container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
	margin-top: 3rem;
}
/* TOOLS END */



/* MY PROJECTS START */
.my-projects-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 2.5rem;
}

.my-projects-work-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.5rem;
}

.my-projects-work-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/* MY PROJECTS END */



/* GET IN TOUCH SECTION START */
.get-in-touch-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 2.5rem;
}

.get-in-touch-form-container {
	width: 100%;
}

.get-in-touch-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 2.5rem;
}

.get-in-touch-form-input, .get-in-touch-form-textarea {
	background-color: #e7e7e7;
	border: none;
	width: 100%;
	padding: 15px 25px;
	font-weight: 400;
	border-radius: 25px;
	font-size: 20px;
	resize: none;
}
/* GET IN TOUCH SECTION END */



/* FOOTER SECTION START */
.footer-container {
	background-color: black;
	color: white;
	padding: 35px;
}

.footer-text {
	font-size: 1.2rem;
	text-align: center;
}
/* FOOTER SECTION END */

/* STYLE END */
/* STYLE END */
/* STYLE END */










/* UTILITY START */
/* UTILITY START */
/* UTILITY START */

/* UNIVERSAL START */

/* For button */
.button {
	padding: 15px 40px;
	font-size: 1.5rem;
	color: white;
	border: none;
	background-color: #e9045c;
	font-weight: 500;
	border-radius: 50px;
}

/* For button link */
.button-link {
	text-decoration: none;
	color: white;
}

/* For texts */
.text {
	max-width: 70ch;
	text-align: center;
	font-size: 1.2rem;
	color: gray;
	line-height: 2;
}

.list-title {
	font-size: 1.5rem;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
}

.unordered-list {
	list-style-type: none;
	line-height: 2rem;
	font-size: 1.2rem;
	text-align: center;
	margin-top: 1.5rem;
	color: gray;
}
/* UNIVERSAL END */



/* MAIN START */

/* For containers of each first section on main*/
.container-first {
	max-width: 1280px;
	padding-top: 20rem;
	padding-bottom: 10rem;
	padding-left: 2rem;
	padding-right: 2rem;
	margin: auto;
}

/* For containers of each middle section on main*/
.container-middle {
	max-width: 1280px;
	padding: 10rem 2rem;
	margin: auto;
}

/* For containers of each last section on main*/
.container-last {
	max-width: 1280px;
	padding-top: 10rem;
	padding-bottom: 20rem;
	padding-left: 2rem;
	padding-right: 2rem;
	margin: auto;
}

/* For titles of each section on main */
.section-title {
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
}

/* MAIN END */

/* UTILITY END */
/* UTILITY END */
/* UTILITY END */










/* RESPONSIVENESS START */
/* RESPONSIVENESS START */
/* RESPONSIVENESS START */

/* MEDIA QUERIES START */

@media only screen and (max-width: 1024px) {
	/* MY PROJECT START */
	.my-projects-work-container {
		grid-template-columns: repeat(2, 1fr);
	}
	/* MY PROJECT END */


@media only screen and (max-width: 768px) {

}


@media only screen and (max-width: 640px) {
	/* TOOLS START */
	.tools-list-container {
		grid-template-columns: repeat(1, 1fr);
	}
	/* TOOLS END */
}

/* MEDIA QUERIES END */

/* RESPONSIVENESS END */
/* RESPONSIVENESS END */
/* RESPONSIVENESS END */